In [1]:
from google.colab import drive
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# (1) Extraversion, (2) Agreeableness, (3) Conscientiousness, (4) Emotional Stability, or (5) Openness
pos_questions = [ # positive questions adding to the trait.
    'EXT1','EXT3','EXT5','EXT7','EXT9',
    'EST1','EST3','EST5','EST6','EST7','EST8','EST9','EST10',
    'AGR2','AGR4','AGR6','AGR8','AGR9','AGR10',
    'CSN1','CSN3','CSN5','CSN7','CSN9','CSN10',
    'OPN1','OPN3','OPN5','OPN7','OPN8','OPN9','OPN10',
]
neg_questions = [ # negative (negating) questions subtracting from the trait.
    'EXT2','EXT4','EXT6','EXT8','EXT10',
    'EST2','EST4',
    'AGR1','AGR3','AGR5','AGR7',
    'CSN2','CSN4','CSN6','CSN8',
    'OPN2','OPN4','OPN6',
]

In [7]:
#user가 설문조사 한 순서
input_order = [
         'EXT1', 'AGR1', 'CSN1', 'EST1', 'OPN1',
         'EXT2', 'AGR2', 'CSN2', 'EST2', 'OPN2',
         'EXT3', 'AGR3', 'CSN3', 'EST3', 'OPN3',
         'EXT4', 'AGR4', 'CSN4', 'EST4', 'OPN4',
         'EXT5', 'AGR5', 'CSN5', 'EST5', 'OPN5',
         'EXT6', 'AGR6', 'CSN6', 'EST6', 'OPN6',
         'EXT7', 'AGR7', 'CSN7', 'EST7', 'OPN7',
         'EXT8', 'AGR8', 'CSN8', 'EST8', 'OPN8',
         'EXT9', 'AGR9', 'CSN9', 'EST9', 'OPN9',
         'EXT10', 'AGR10', 'CSN10', 'EST10', 'OPN10'         
         ]
#1~50번 문항 입력 ex)12345543211234553333323455432222225543211211114321
inp = input()
input_score = []
for i in range(50):
  input_score.append(int(inp[i]))

12345543211234553333323455432222225543211211114321

In [8]:
user = pd.DataFrame([input_score],columns=input_order)
user

   EXT1  AGR1  CSN1  EST1  OPN1  EXT2  ...  OPN9  EXT10  AGR10  CSN10  EST10  OPN10
0     1     2     3     4     5     5  ...     1      1      4      3      2      1

[1 rows x 50 columns]

In [9]:
def scaleMax5(df):
  #negative 점수 반전
  for neg in neg_questions:
    df[neg] = 6-df[neg]
  df['EXT_SUM'] = 0
  df['EST_SUM'] = 0
  df['AGR_SUM'] = 0
  df['CSN_SUM'] = 0
  df['OPN_SUM'] = 0
  for i in range(1,11):
    df['EXT_SUM'] += df[f'EXT{i}']
    df['EST_SUM'] += df[f'EST{i}']
    df['AGR_SUM'] += df[f'AGR{i}']
    df['CSN_SUM'] += df[f'CSN{i}']
    df['OPN_SUM'] += df[f'OPN{i}']
  new_df = df.iloc[:,-5:]
  print("최대점수 5점으로 스케일링")
  new_df = new_df/10
  return new_df

In [10]:
user = scaleMax5(user)
user
#여기까지. 밑에는 볼 필요 없음

최대점수 5점으로 스케일링

   EXT_SUM  EST_SUM  AGR_SUM  CSN_SUM  OPN_SUM
0      1.7      2.8      3.7      2.7      3.5